* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-size: 1.3rem;
}

.block {
  background-color: lightblue;
  border-radius: 1rem;
  margin: 1rem 2rem;
  padding: 1rem 1rem 2rem 1rem;
  border: 2px white;
}

.centeredtext {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

/* List Styles */

ul {
  margin-top: 0.5rem;
  padding-left: 2rem;
}

li {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: background-color 0.5s;
}

li:hover {
  background-color: skyblue;
}

li::marker {
  content: '▶';
}

.logo {
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: skyblue;
  width: 120px;
  height: auto;
}