* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block {
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem 1rem 2rem 1rem;
  border: 2px white;
}

#a {
  background-color: lightblue;
  text-align: center;
}

#b {
  background-color: bisque;
  width: 60%;
  float: left;
  margin-top: 0rem;
}

#c {
  background-color: aquamarine;
  width: 60%;
  float: right;
  margin-top: 0rem;
}

a {
  text-decoration: none;
}

#github-logo {
  margin: 2rem 0 0 1rem;
  width: 80px;
}

#azure-logo {
  margin: 2rem 0 0 1rem;
  width: 80px;
}