* {
  display: block;
  box-sizing: border-box;
  clear: both;
}

feed {
  width: 100%;
  padding: 1rem;
  background-color: white;
}

entry {
  background-color: aliceblue;
  border: 1px solid skyblue;
  margin: 1rem;
  padding: 1rem;
}

updated {
  float: right;
}

title {
  font-size: 2rem;
}

author name {
  font-size: 1.5rem;
}

